<!DOCTYPE html>
<html>
<head>
  <title><%= draw_title %></title>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
  var page_control = {
  	main: true
  }
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp", 'application' %>
  <%= csrf_meta_tags %>

</head>
<body class="away">
<%= render "layouts/menu" %>
<%= yield %>
<%= render "layouts/footer"%>
</body>
</html>
